<html>
	<head>

		<link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="styles/main.css">
		<script type="text/javascript" src="libs/angular/angular.min.js"></script>

	</head>
	<body>
	<div class="container">
		<div class="row">
	 	 	<div class="col-md-offset-1 col-xs-12 col-sm-12 col-md-10"> 
	 	 		<h2 class="header-label">DEPLOYMENT LIST</h2>
	 	 		<hr/>
			</div>
		</div>
		<div class="row">
	 	 	<div class="col-md-offset-1 col-xs-12 col-sm-12 col-md-10"> 
	 	 		<ul class="deployment-list-box">
	 	 			<li class="deployment-list">
	 	 				<div class="deployment-tb">
	 	 					<div class="deployment-tc deployment-tc__icon">
	 	 						<img src="image/bitbucket_icon.png">
							</div>
							<div class="deployment-tc deployment-tc__info">
								<ul class="deployment-tc__info__box">
									<li class="deployment-tc__info__list"><span class="status status-active"><span class="fa fa-check-circle"></span> ACTIVE DEPLOYMENT</span> <span class="date-label">&nbsp;Tuesday, March 03,2015 6:49 PM</span></li>
									<li class="deployment-tc__info__list"><h3>Pianoaholic</h3></li>
									<li class="deployment-tc__info__list footer"><span class="foot-label"><span class="bold">AUTHOR:</span> Thakerng <span class="bold">&nbsp;&nbsp;Bitbucket:</span> <a href="#">https://bitbucket.org/pianoaholic/pianoaholic</a></span></li>
								</ul>
							</div>

	 	 				</div>
	 	 			</li>
	 	 			<li class="deployment-list">
	 	 				<div class="deployment-tb">
	 	 					<div class="deployment-tc deployment-tc__icon">
	 	 						<img src="image/bitbucket_icon.png">
							</div>
							<div class="deployment-tc deployment-tc__info">
								<ul class="deployment-tc__info__box">
									<li class="deployment-tc__info__list"><span class="status status-active"><span class="fa fa-check-circle"></span> ACTIVE DEPLOYMENT</span> <span class="date-label">&nbsp;Tuesday, March 03,2015 6:49 PM</span></li>
									<li class="deployment-tc__info__list"><h3>Pianoaholic</h3></li>
									<li class="deployment-tc__info__list footer"><span class="foot-label"><span class="bold">AUTHOR:</span> Thakerng <span class="bold">&nbsp;&nbsp;Bitbucket:</span> <a href="#">https://bitbucket.org/pianoaholic/pianoaholic</a></span></li>
								</ul>
							</div>
							
	 	 				</div>
	 	 			</li>
	 	 		</ul>
			</div>
		</div>
	</body>	
</html>
